/*menu general*/

.menu {
    font-family: 'font-family:Noto Serif JP', serif;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    color: black;
    background-color: #fff3e6;
    text-align: left;
    display: inline;
    padding: 15 px;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline-block;
    position: relative;
    padding: auto;
    margin-left: 200px;
    text-decoration: none;
}

li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

.nav {
    font-family: 'Meie Script';
    list-style-type: none;
    text-align: center;
    display: inline;
    padding: 15px;
    margin: auto;
}


/*general*/

h1 {
    font-family: 'Meie Script';
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
    color: black;
    text-align: center;
}

p {
    font-family: 'font-family: 'Noto Serif JP', serif;';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: black;
    text-align: center;
}


/*Footer Section*/

.footer {
    top: 500px;
    bottom: 600px;
    float: left;
}

.footer-logo {
    position: relative;
    float: left;
}


/*TRAVEL PAGE*/

textarea {
    padding: 5px;
    margin-left: 300px;
}

h2 {
    font-family: 'Meie Script';
    text-align: center;
    padding-right: 80px;
}


/*--top gallery*/


/* Container Flex */

.gallery2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
    max-width: 499px;
}


/* Flex Item */

.gallery2__item {
    width: 100%;
    margin-bottom: 20px;
}

.gallery2__item>img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: .25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .75);
}

.gallery2__item>img:hover {
    cursor: pointer;
}


/* Responsive */

@media only screen and (min-width: 500px) {
    .gallery2 {
        max-width: 719px;
    }
    .gallery2__item {
        width: calc((100% / 2) - 10px);
    }
    .gallery2__item:nth-child(even) {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 720px) {
    .gallery2 {
        max-width: 100%;
        padding: 20px 20px 0 0;
    }
    .gallery2__item {
        width: calc((100% / 3) - 20px);
    }
    .gallery2__item:nth-child(odd) {
        margin-left: 20px;
    }
}


/*Text Animation */

.containeranimation {
    position: relative;
    text-align: center;
    color: white;
}

.textanimation {
    font-weight: 600;
    font-size: 50px;
    color: black;
    letter-spacing: 0.1em;
}

.textanimation .word {
    position: absolute;
    display: inline-block;
    line-height: 1em;
    left: 200px;
}


/* travel  button*/

.popular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    padding: 10px 70px 0 0;
}

.popular img {
    object-fit: cover;
    flex: 0 0 auto;
    margin-left: 0;
    max-width: 100%;
    max-height: fit-content;
}